body {
    background-color: red;
    margin: 0;
}

.box{
    width: 300px;
    height: 400px;
    background: conic-gradient( green,#000);
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid;
}

h1{
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;

}